/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
  }
  
  .blog-header-logo {
    text-decoration: none;
    font-size: 2.25rem;
  }

  .blog-header-logo:hover{
    text-decoration: none;
  }

  .my-btn{
    color: white;
    background-color: #FC7522;
  }

  .my-btn:hover{
    color: white;
    background-color: #F15F04;
  }

  .my-outline-btn{
    color:  #FC7522;
    background-color: white;
    border-color:  #FC7522;
  }

  .my-outline-btn:hover{
    color: #F15F04;
    border-color: #F15F04;
  }
  
  .my-link-btn{
    color:  #FC7522;
  }

  .my-link-btn:hover{
    background-color: white;
    color:  #F15F04;
    border-color: #F15F04 ;
  }

  .my-btn-soft{
    background-color: #FDDAC3;
    color:#F15F04;
  }

  .my-btn-soft:hover{
    color:#F15F04;
    border-color:#F15F04;
  }

  .my-primary{
    color:  #FC7522;
  }
  
#my-card{
  padding: 0px 1rem;
}

  /*h1, h2, h3, h4, h5, h6 {
   font-family: 'Yanone Kaffeesatz', sans-serif;
  }*/
  
  .display-4 {
    font-size: 2.5rem;
  }
  @media (min-width: 768px) {
    .display-4 {
      font-size: 3rem;
    }
  }
  
  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }
  
  .nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  
  .nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
  }
  
  .card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
  }
  
  .flex-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  
  .h-250 { height: 250px; }
  @media (min-width: 768px) {
    .h-md-250 { height: 250px; }
  }
  
  /* Pagination */
  .blog-pagination {
    margin-bottom: 4rem;
  }
  .blog-pagination > .btn {
    border-radius: 2rem;
  }
  
  /*
   * Blog posts
   */
  .blog-post {
    margin-bottom: 4rem;
  }
  .blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
  }
  .blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
  }
  
  /*
   * Footer
   */
  .blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
  }
  .blog-footer p:last-child {
    margin-bottom: 0;
  }
  .blog-footer{
      font-family: 'Yanone Kaffeesatz', sans-serif;
  }
  
  .head_text{
      font-size:.850rem;
      font-weight:500;
  }
  
  #h-div1{
    padding-top: 3rem;
  }

  #h-div2{
    padding-top: 3rem;
    padding-left: 10px;
  }

  #h-div2 h2{
    margin-top: 3rem;
   }

   #signup{
     margin-top: 50px;
   }

   #s-div1{
    padding: 60px;
   }
   #s-div2{
    margin-top: 30px;
   }
   .card-padding{
    padding: 0px 1rem;
  }
  @media screen and (max-width:480px){

    #back_btn{
      font-size: 14px;
  }

   .my-div{
     padding: 20px;
   }

   #h-div1,#h-div2{
     padding-top: 0px;
     padding-left: 0px;
   }

   #h-div2 h2{
    margin-top: 1rem;
   }

   #signup{
     margin-top: 25px;
   }

   #s-div1{
     padding: 20px;
   }

   #s-div2{
     margin-top: 10px;
   }
 

   #my-card{
     padding: 0px;
   }
      
      
   .card-padding{
     padding: 0px;
   }


  }
